<%- include ('../partials/header') %>
<div class="container mt-6">
    <div class="row mt-4">
        <div class="col-12 col-sm-12 ">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h1 class="text-center">Add New Comment <%=campground.name %></h1>
                    <p>
                        <small class="text-muted">Fields marked * are required.</small>
                      </p>                  
                    <form action="/campgrounds/<%=campground._id %>/comments" method="POST">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Text*</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="text" placeholder="Text" required>
                            <div class="invalid-feedback">
                                please provide a campground name
                            </div>
                        
                    <button class="btn btn-block btn-dark" type="submit">submit</button>
                    
                    </form>
                </div>
               
            </div>
            
        </div>
       
    </div>
  
    
</div>


<%- include ('../partials/footer') %>